body {
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.wrapper { display: flex; }
main { flex: 1; }

.navbar {
    bottom: 0;
    display: block;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    max-width: 20rem;
    width: 100%;
    
}

.navbar {
    overflow-y: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

.navbar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.navbar a {
    color: #dee2e6
}

.nav-header {
    width: 100%;
    display: block;
}


.nav-content {
    list-style: none;
    display: block;
    width: 100%;

    padding: 0;
}

.nav-item {
    display: list-item;
    width: 100%;
    padding: 0;
}

.nav-item .nav-item-link {
    display: block;
    padding: 10px 0.5rem;
}

.nav-item .nav-item-link i {
    display: inline-block;
    font-size: 1.0rem;
    margin-right: 1rem;
}

.nav-item-link .nav-arrow {
    position: absolute;
    right: 30px;
}

.nav-sub-group {
    list-style: none;
    display: block;
    width: 100%;

    padding: 0;
}

.nav-sub-group .nav-sub-item {
    display: block;
    padding: 10px 0 10px 2.8rem;    
}

.nav-sub-group .nav-sub-item a {
    text-decoration: none;
}

.navbar-text i {
    margin-right: 0.5rem;
}

